.headertext{
    font-family: 'Merriweather', serif;
    /* font-size: 2rem; */
    color:#CCBB8F;
}

.headerparagraph{
    font-family: 'Montserrat', sans-serif;
}

.borderdown{
    /* margin: 2em 0 0 16px; */
    border: 2px solid rgba(0,0,0,.3);
    width: 7em;
    transition: .2s;
}

.colwidth{
    /* max-width: 48%; */
}

.singlecard{
    /* width: 20rem !important; */
    /* margin: 0 3rem !important;    */
    
    height: 35rem;
    align-items: flex-start ;
    justify-content: flex-end;

    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center;
    cursor: pointer;
    margin: 2em 0;
    transition: .5s;
}

.img1{
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)),  url(../../../image/ready1.png);

}

.img2{
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)), url(../../../image/ready2.png);
}

.img3{
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)), url(../../../image/ready3.png);
}

.singlecard:hover{
    background-size: 40rem;
    
}

.singlecard:hover + .borderdown{
    border:2px solid #FFE9B1 !important;
    width: 8em;
  
}

.textimage p{
    margin: 10px 15px;
    color: white;
    font-family: 'Merriweather', serif;
    text-align: start;
    font-size: 40px !important;
    

}

/* .cardimage{
    height: 30em;
    background-color: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0) );
}
 */

.cardgrp{
    /* margin: 2rem 9rem 9rem 16rem; */
    justify-content: center;
}

.lastrow{
    display: none;
}

@media(max-width: 375px){
    .cardgrp{
        margin: 2rem 9rem 9rem 2rem;
    }
    .col3{
        display: none;
    }
    .textimage p{
        font-size: 20px !important;
    }
    .lastrow{
        display: flex;
    }
}

@media(max-width: 800px){
    .textimage p{
        /* font-size: 20px !important; */
    }
}


@media(max-width: 575px){
    
}



@media(max-width: 600px){
    /* .singlecard{
        margin: 0 1rem !important;
    } */

    .cardgrp{
        margin: 2rem 9rem 9rem 7rem;
    }
    .singlecard{
        /* width: 15rem; */
        height: 20rem;
    }
} 

