.headertext{
    font-family: 'Merriweather', serif;
    /* font-size: 2rem; */
    color:#CCBB8F;
}

.headerparagraph{
    font-family: 'Montserrat', sans-serif;
}

.borderdown{
    margin: 2em 0 0 16px;
    border: 2px solid rgba(0,0,0,.3);
    width: 7em;
    transition: .2s;
}

.singlecard{
    width: 18rem;
    /* margin: 0 3rem !important;    */
    
    height: 35rem;
    align-items: flex-start ;
    justify-content: flex-end;

    background-repeat: no-repeat;
    cursor: pointer;
    margin: 2em 0;
    transition: .2s;
}

.img1{
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)), url(../../image/ready1.png);

}

.img2{
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)), url(../../image/ready2.png);
}

.img3{
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)), url(../../image/ready3.png);
}

.singlecard:hover + .borderdown{
    border:2px solid #FFE9B1 !important;
    /* width: 10em; */
}

.textimage p{
    /* margin: 14em 10em 0 0; */
    color: white;
    font-family: 'Merriweather', serif;
    text-align: start;
    font-size: 50px !important;
    

}

/* .cardimage{
    height: 30em;
    background-color: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0) );
}
 */

.cardgrp{
    /* margin: 2rem 9rem 9rem 16rem; */
    justify-content: center;
}




@media(max-width: 800px){
    .textimage p{
        /* font-size: 20px !important; */
    }
}


@media(max-width: 575px){
    
}



@media(max-width: 600px){
    /* .singlecard{
        margin: 0 1rem !important;
    } */

    .cardgrp{
        margin: 2rem 9rem 9rem 7rem;
    }
    .singlecard{
        /* width: 15rem; */
        height: 20rem;
    }
} 